
.container {
  margin: 20px auto;
  width: 950px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
h1{
  color: blue;
  font-size: 2em;
  text-align: center;
  font-family:Copperplate / Copperplate Gothic Light, sans-serif;
}
