<div class="container">
  <h1>Welcome to Spaceface!</h1>

  <form action="/login" method="GET">
    <input type="submit" name="Login" value="Log in here">
  </form>

  <form action="/signup" method="GET">
    <input type="submit" name="Create" value="Create account here">
  </form>
  
  <a href="/logout">Logout</a>
</div>
